<!DOCTYPE html>
<html ng-app="myApp">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="libs/dist/css/bootstrap.css" />
		<style type="text/css">
			.table-striped .tableHeader{
				background-color: #f66;
			}
			.table-striped > tbody > tr:nth-child(2) {
			    background-color: #f66;
			    color: #fff;
			    font-weight: bold;
			}
			tr > td{
				text-align: center;
			}
			.header{
				width: 100%;
				height: 60px;
				background-color: skyblue;
				line-height: 60px;
				font-size: 32px;
			}
		</style>
	</head>

	<body ng-controller="myCtrl">
		<header class="header text-left text-danger">
			***管理系统
		</header>
		<div class="row">
			<div class="col-xs-3">
				<ul class="list-group">
				  <li class="list-group-item">Cras justo odio</li>
				  <li class="list-group-item">Dapibus ac facilisis in</li>
				  <li class="list-group-item">Morbi leo risus</li>
				  <li class="list-group-item">Porta ac consectetur ac</li>
				  <li class="list-group-item">Vestibulum at eros</li>
				</ul>

			</div>
			<div class="col-xs-9">
				<table class="table table-bordered table-striped">
			<tr>
				<td>每页显示数量</td>
				<td colspan="1">
					<select name="" ng-model="selectNum">
						<option value="12">12</option>
						<option value="24">24</option>
						<option value="36">36</option>
					</select>
				</td>
				<td><button class="btn btn-default btn-xs" ng-click="prevPage(pageCode)">上一页</button></td>
				<td><input ng-model="pageCode"/></td>
				<td><button class="btn btn-primary btn-xs" ng-click="nextPage(pageCode)">下一页</button></td>
			</tr>
			<tr class="tableHeader">
				<td>num</td>
				<td>firstName</td>
				<td>lastName</td>
				<td>gender</td>
				<td>salary</td>
				<td>birthday</td>
				<td>likeNum</td>
				<td>unLikeNum</td>
				<td>likeBtn</td>
				<td>unLikeBtn</td>
			</tr>
			<tr ng-repeat = "user in users | limitTo:selectNum">
				<td>{{$index + 1 }}</td>
				<td>{{user.firstName | lowercase}}</td>
				<td>{{user.lastName | uppercase}}</td>
				<td>{{user.gender | uppercase}}</td>
				<td>{{user.salary | currency : ($index == 4?"$":"￥")}}</td>
				<td>{{user.birthday | date : "yyyy-MM-dd"}}</td>
				<td>{{user.likeNum}}</td>
				<td>{{user.unLikeNum}}</td>
				<td><button class="btn btn-success btn-xs" ng-click="countLikeNum(user,$index)">喜欢</button></td>
				<td><button class="btn btn-danger btn-xs" ng-click="countUnLikeNum(user,$index)">不喜欢</button></td>
			</tr>
		</table>
		<form class="form-horizontal col-xs-6" role="form">
  <div class="form-group">
    <label for="firstName" class="col-sm-2 control-label">firstName</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="firstName" placeholder="firstName">
    </div>
  </div>
  <div class="form-group">
    <label for="lastName" class="col-sm-2 control-label">lastName</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="lastName" placeholder="lastName">
    </div>
  </div>
 
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="button" class="btn btn-primary" ng-click="addUser()">添加</button>
    </div>
  </div>
</form>

			
			</div>
		</div>
	</body>
	<script src="libs/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
	<script src="libs/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="libs/angular.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		//和html ng-app = "myApp"一一对应，[] 指代的意思是我们后期需要注入的各个模块
		var app = angular.module("myApp", []);
		app.controller("myCtrl", function($scope) {
			var users = [
				{
					"firstName":"FanG",
					"lastName":"vane",
					"gender":"male",
					"likeNum":0,
					"unLikeNum":0,
					"salary":10000,
					"birthday":new Date('1998-01-01')
				},
				{
					"firstName":"Sara",
					"lastName":"rose",
					"gender":"female",
					"likeNum":0,
					"unLikeNum":0,
					"salary":20000,
					"birthday":new Date('1998-01-01')
				},
				{
					"firstName":"Mark",
					"lastName":"bear",
					"gender":"male",
					"likeNum":0,
					"unLikeNum":0,
					"salary":30000,
					"birthday":new Date('1998-01-01')
				},
				{
					"firstName":"Pam",
					"lastName":"hot",
					"gender":"male",
					"likeNum":0,
					"unLikeNum":0,
					"salary":40000,
					"birthday":new Date('1998-01-01')
				},
				{
					"firstName":"Wang",
					"lastName":"lao",
					"gender":"male",
					"likeNum":0,
					"unLikeNum":0,
					"salary":1000,
					"birthday":new Date('1998-01-01')
				}
			];
			var users1 = [
				{
					"firstName":"FanG1",
					"lastName":"vane1",
					"gender":"male1",
					"likeNum":0,
					"unLikeNum":0,
					"salary":10000,
					"birthday":new Date('1998-01-01')
				},
				{
					"firstName":"Sara1",
					"lastName":"rose1",
					"gender":"female1",
					"likeNum":0,
					"unLikeNum":0,
					"salary":20000,
					"birthday":new Date('1998-01-01')
				},
				{
					"firstName":"Mark1",
					"lastName":"bear1",
					"gender":"male1",
					"likeNum":0,
					"unLikeNum":0,
					"salary":30000,
					"birthday":new Date('1998-01-01')
				},
				{
					"firstName":"Pam1",
					"lastName":"hot1",
					"gender":"male1",
					"likeNum":0,
					"unLikeNum":0,
					"salary":40000,
					"birthday":new Date('1998-01-01')
				},
				{
					"firstName":"Wang1",
					"lastName":"lao1",
					"gender":"male1",
					"likeNum":0,
					"unLikeNum":0,
					"salary":1000,
					"birthday":new Date('1998-01-01')
				}
			];
			$scope.users = users;
			var len = users.length;
//			$scope.maxpageCode = Math.ceil(len/$scope.selectNum);
			$scope.selectNum = 6;
			$scope.pageCode = 1;
			$scope.countLikeNum = function(user,id){
				user.likeNum++;
				console.log($scope.users);
			}
			$scope.countUnLikeNum = function(user,id){
				user.unLikeNum++;
			}
			
			$scope.prevPage = function(){
				$scope.users = users;
//				if($scope.pageCode == 1){
//					$scope.pageCode = 1;
//				}else{
//					$scope.pageCode--;
//				}
				
			}
			$scope.nextPage = function(){
				$scope.users = users1;
				
//				if($scope.pageCode == $scope.maxpageCode){
//					$scope.pageCode = $scope.maxpageCode;
//				}else{
//					$scope.pageCode++;
//				}
			}
			
			$scope.addUser = function(){
				var firstName = $("#firstName").val();
				var lastName = $("#lastName").val();
				var obj = {
					"firstName":firstName,
					"lastName":lastName,
					"gender":"male",
					"likeNum":0,
					"unLikeNum":0,
					"salary":1000,
					"birthday":new Date('1998-01-01')
				}
				users.push(obj);
				$scope.users = users;
			}
		});
	</script>

</html>